@use '../../../../styles/variables.scss' as *;

.accounts-details {
  display: flex;
  justify-content: start;
  align-items: center;
  color: $color-heading;
  font-weight: 200;

  &__logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__info {
    display: flex;
    gap: 5px;
    align-items: flex-start;
  }

  &__address {
    max-width: 230px;
    font-size: 14px;
    border-right: 2px solid $color-secondary-border;
  }

  &__item {
    border-right: 2px solid $color-secondary-border;
    padding-right: 26px;

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }

  &__label {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-text;
  }

  &__value {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .accounts-details {
    &__logo {
      width: 72px;
      height: 72px;
    }

    &__name {
      font-size: 16px;
    }
    &__address, &__label, &__value {
      font-size: 12px;
    }
  }
}

@media (max-width: 480px) {
  .accounts-details__logo {
    display: none;
  }
}
