@use '../../../styles/variables.scss' as *;

.app-header {
  width: 100%;

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    color: $color-heading;
    font-size: 18px;
  }

  &__brake {
    display: none;
  }

  &__right {
    display: flex;
    gap: 5px;
  }
}

@media (max-width: 768px) {
  .app-header {
    &__left {
      font-size: 14px;
    }
    &__brake {
      display: block;
    }
  }
}
