@use '../../../styles/variables.scss' as *;

.app-header {
  width: 100%;

  &__container {
    max-width: 1680px;
    margin: 0 auto;
    padding: 16px 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    color: $color-heading;
    font-size: 18px;
  }

  &__right {
    display: flex;
    gap: 10px;
  }
}

@media (max-width: 1024px) {
  .app-header {
    &__container {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

    &__left h1 {
      font-size: 24px;
      max-width: 100%;
    }

    &__right {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 12px;
    }
  }
}

@media (max-width: 768px) {
  .app-header__left h1 {
    font-size: 20px;
  }

  .app-header__right {
    gap: 8px;
  }
}
