$color-primary: #3D82FC;
$color-bg-main: #121723;
$color-bg-inactive: #090C14;
$color-bg-surface: #1E2233;
$color-bg-table-head: #24293C;
$color-bg-table-row: #222737;

$color-yellow: #FDD261;
$color-green: #3BB979;
$color-red-portfolio: #CC0101;
$color-red-market: #BE3D3B;
$color-blue-market: #1F41B3;
$color-blue-appetite: #1E2B59;

$color-text: #777A85;
$color-heading: #B9BCC1;

$radius-sm: 8px;
$radius-md: 12px;
$radius-lg: 16px;

$font-base: 'Inter', sans-serif;