@use '../../styles/variables' as *;

.app-layout {
  min-height: 100vh;
  background-color: $color-bg-main;
}

.app-layout__main {
  width: 100%;
  padding-bottom: 60px;
}

.app-layout__container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 24px;
}

@media (max-width: 768px) {
  .app-layout__container {
    padding: 0 16px;
  }

  .app-layout__main {
    padding-bottom: 40px;
  }
}