@use '../../styles/variables' as *;

.search-input {
  display: flex;
  align-items: center;
  background-color: $color-bg-surface;
  border-radius: $radius-lg;
  padding: 0 16px;

  &--header {
    height: 50px;
    width: 380px;
  }

  &--table {
    background-color: $color-bg-table-row;
  }
  input {
    width: 100%;
    height: 100%;
    background: transparent;

    font-size: 16px;
    color: $color-text;

    &::placeholder {
      color: $color-text;
    }
  }
}

@media (max-width: 768px) {
  .search-input--header {
    width: 280px;
  }
}
