@use '../../styles/variables.scss' as *;

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $logo-color;
  color: $color-heading;
  font-size: 16px;
}
