@use '../../../../styles/variables.scss' as *;

.quick-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  max-width: $work-queue-max-width / 4;

  background-color: $color-bg-surface;
  border: 1px solid $color-main-border;
  border-radius: $radius-lg;
  padding: 20px;
  color: $color-heading;
  
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.actions-button {
  padding: 8px 0px;
  border-radius: 999px;
  background: $color-primary;
  color: $color-heading;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $color-blue-appetite;
  }
}
